In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("hiring.csv")

In [3]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [4]:
df=df.fillna(0)

In [5]:
for i in range(0,len(df)):
    if(df['experience'][i] == 0):
        df['experience'][i]='zero'

C:\Users\abalu\AppData\Local\Temp\ipykernel_18240\619107965.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'][i]='zero'

In [6]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    0.0                           7      72000
7     eleven                    7.0                           8      80000

In [7]:
df.columns=['experience','test_score','interview_score','salary']

In [8]:
df

  experience  test_score  interview_score  salary
0       zero         8.0                9   50000
1       zero         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         0.0                7   72000
7     eleven         7.0                8   80000

In [9]:
y=np.array(df['salary'])

In [10]:
y
x=df.iloc[:,:3]

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
lr=LinearRegression()

In [16]:
lr.fit(x,y)

LinearRegression()

In [13]:
dic={'zero':0,'two':2,'three':3,'five':5,'seven':7,'ten':10,'eleven':11}

In [14]:
for i in range(0,len(x)):
    x['experience'][i]=dic[x['experience'][i]]

C:\Users\abalu\AppData\Local\Temp\ipykernel_18240\992423875.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['experience'][i]=dic[x['experience'][i]]

In [15]:
x=np.asarray(x)
x

array([[0, 8.0, 9],
       [0, 8.0, 6],
       [5, 6.0, 7],
       [2, 10.0, 10],
       [7, 9.0, 6],
       [3, 7.0, 10],
       [10, 0.0, 7],
       [11, 7.0, 8]], dtype=object)

In [20]:
lr.predict(([2,9,9],))

array([59043.71726947])

In [21]:
import pickle

In [23]:
pickle.dump(lr,open('model.pkl','wb'))